<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITCI_Ser" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.1.1.38:82/services/TCI_Ser.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITCI_Ser"
                contract="ezService.ITCI_Ser" name="BasicHttpBinding_ITCI_Ser" />
        </client>
    </system.serviceModel>
</configuration>
